.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-shadow: 0 1px 3px -2px black;
}

.nav-logo img {
  width: 150px;
  height: auto;
  font-weight: bold; 
  font-size: 20px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px; /* Increased the gap for more space */
}

.nav-logo p {
  color: #171717;
  font-size: 38px; /* Reverted to the original size */
  font-weight: 600;
  margin: 0;
}

.nav-search {
  display: flex;
  align-items: center;
  gap: 20px; /* Increased the gap for more space */
}

.nav-search input {
  height: 25px;
  width: 300px; /* Increased the width for a longer search bar */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 30px;
  font-size: 20px; /* Adjusted font size */
}

.nav-search button {
  background: none;
  border: none;
  cursor: pointer;
}

.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}

.nav-login-cart button {
  width: 157px;
  height: 58px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background: white;
  cursor: pointer;
}

.nav-login-cart button:active {
  background: #f3f3f3;
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}
